extends layout

block content
  .container
    h1 Profile
    p.lead View and edit your profile settings
    hr
    div.col-xs-6(style="background: #ada7a7; border-radius: 5px")
      p.lead Your Username: #{userInfo.username}
      p.lead Your Name:
      p.lead City:
      p.lead State:
      p.lead Favorite Quote:
    div.col-xs-6(style="border-style: dashed")
      p.lead Form to change profile
